.one{
    border: 3px solid white;
    /* margin: 120px 550px; */
    width: 100%;
    height: 100%;
    border-radius: 10px;    
    background-color: white;
    padding: 10px 17px;
    color: grey;
    text-align: center;
    font-weight: lighter;
    display: flex;
    flex-direction: column;
    gap: 3%;
}
body{
    /* width: 50dvw;
    height: 10dvh; */
    background-color: rgb(205, 216, 212);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 0px 1px 2px;
    display: flex;
    justify-content: center;
    align-items: center;

} 
.two{
    color: black;
    font-size: 21px;
}

.four{
    width: 100%;
    border-radius: 10px;
    height: 100%;

}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.contain{
    width: 25%;
    height: 32rem;
    
    
}
@media (max-width:900px) {
    .contain{
        width: 40%;
        position: relative;
        top: 50px;
    }
}
@media (max-width: 600px) {
    .contain{
        width: 60%;
        position: relative;
        top: 50px;
        height: 29rem;
    }
    
}



